App_WebReferences/DLVNSOA/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1517535432862" xmlns:ns0="http://www.tibco.com/schemas/SHBProject/SharedResource/Schema/Global/Payments/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1517535432862" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.tibco.com/schemas/SHBProject/SharedResource/Schema/Global/Payments/Schema.xsd" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/SHBProject/SharedResource/Schema/Global/Payments/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="IDInquiryReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="Username" type="xs:string" />
              <xs:element minOccurs="0" name="Password" type="xs:string" />
              <xs:element minOccurs="0" name="IDNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="IDInquiryResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
              <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="POLICY_DETAIL" type="ns0:POLICY_DETAIL" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="POLICY_DETAIL">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADDRESS" type="xs:string" />
          <xs:element minOccurs="0" name="AMOUNT" type="xs:string" />
          <xs:element minOccurs="0" name="DATA01" type="xs:string" />
          <xs:element minOccurs="0" name="DATA02" type="xs:string" />
          <xs:element minOccurs="0" name="DLVN_REF" type="xs:string" />
          <xs:element minOccurs="0" name="FREQUENCE_PREMIUM" type="xs:string" />
          <xs:element minOccurs="0" name="ID_NUMBER" type="xs:string" />
          <xs:element minOccurs="0" name="LI_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="LI_NUMBER" type="xs:string" />
          <xs:element minOccurs="0" name="PAID_TO_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="PHONE_NUMBER" type="xs:string" />
          <xs:element minOccurs="0" name="POLICY_NUMBER" type="xs:string" />
          <xs:element minOccurs="0" name="POLICY_OWNERNAME" type="xs:string" />
          <xs:element minOccurs="0" name="POLICY_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="PREM_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICING_BRANCH" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentBNKReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="Username" type="xs:string" />
              <xs:element minOccurs="0" name="Password" type="xs:string" />
              <xs:element minOccurs="0" name="PolicyNumber" type="xs:string" />
              <xs:element minOccurs="0" name="DLVNRef" type="xs:string" />
              <xs:element minOccurs="0" name="PaymentAmount" type="xs:string" />
              <xs:element minOccurs="0" name="PrmAmout" type="xs:string" />
              <xs:element minOccurs="0" name="PaymentDate" type="xs:string" />
              <xs:element minOccurs="0" name="FreqPremium" type="xs:string" />
              <xs:element minOccurs="0" name="Prem_Type" type="xs:string" />
              <xs:element minOccurs="0" name="PayerName" type="xs:string" />
              <xs:element minOccurs="0" name="PayerAddress" type="xs:string" />
              <xs:element minOccurs="0" name="PayerPhone" type="xs:string" />
              <xs:element minOccurs="0" name="Comment" type="xs:string" />
              <xs:element minOccurs="0" name="RefNumber" type="xs:string" />
              <xs:element minOccurs="0" name="ChannelID" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PaymentBNKResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
              <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolicyInquiryReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="Username" type="xs:string" />
              <xs:element minOccurs="0" name="Password" type="xs:string" />
              <xs:element minOccurs="0" name="PolicyNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolicyInquiryResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
              <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="POLICY_DETAIL" type="ns0:POLICY_DETAIL" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RESULT">
        <xs:sequence>
          <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="IDInquiryReq" type="ns0:IDInquiryReqType" />
      <xs:element name="IDInquiryRes" type="ns0:IDInquiryResType" />
      <xs:element name="PaymentBNKReq" type="ns0:PaymentBNKReqType" />
      <xs:element name="PaymentBNKRes" type="ns0:PaymentBNKResType" />
      <xs:element name="PolicyInquiryReq" type="ns0:PolicyInquiryReqType" />
      <xs:element name="PolicyInquiryRes" type="ns0:PolicyInquiryResType" />
    </xs:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IDInquiryReq">
    <wsdl:part name="input" element="ns0:IDInquiryReq" />
  </wsdl:message>
  <wsdl:message name="IDInquiryRes">
    <wsdl:part name="output" element="ns0:IDInquiryRes" />
  </wsdl:message>
  <wsdl:message name="PolicyInquiryReq">
    <wsdl:part name="input" element="ns0:PolicyInquiryReq" />
  </wsdl:message>
  <wsdl:message name="PolicyInquiryRes">
    <wsdl:part name="output" element="ns0:PolicyInquiryRes" />
  </wsdl:message>
  <wsdl:message name="PaymentBNKReq">
    <wsdl:part name="input" element="ns0:PaymentBNKReq" />
  </wsdl:message>
  <wsdl:message name="PaymentBNKRes">
    <wsdl:part name="output" element="ns0:PaymentBNKRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="IDInquiry">
      <wsdl:input message="tns:IDInquiryReq" />
      <wsdl:output message="tns:IDInquiryRes" />
    </wsdl:operation>
    <wsdl:operation name="PolicyInquiry">
      <wsdl:input message="tns:PolicyInquiryReq" />
      <wsdl:output message="tns:PolicyInquiryRes" />
    </wsdl:operation>
    <wsdl:operation name="PaymentBNK">
      <wsdl:input message="tns:PaymentBNKReq" />
      <wsdl:output message="tns:PaymentBNKRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint4Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="IDInquiry">
      <soap:operation soapAction="/Services/Global/Payments/DLVNBillPayment/OperationImpl/DLVNBillPayment-service4.serviceagent/PortTypeEndpoint4/IDInquiry" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyInquiry">
      <soap:operation soapAction="/Services/Global/Payments/DLVNBillPayment/OperationImpl/DLVNBillPayment-service4.serviceagent/PortTypeEndpoint4/PolicyInquiry" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentBNK">
      <soap:operation soapAction="/Services/Global/Payments/DLVNBillPayment/OperationImpl/DLVNBillPayment-service4.serviceagent/PortTypeEndpoint4/PaymentBNK" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DLVNBillPayment">
    <wsdl:port name="PortTypeEndpoint4" binding="tns:PortTypeEndpoint4Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">dlvn.billpayment.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>