App_WebReferences/CoreHandleCIF/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1571712277684" xmlns:ns0="shb/global/openapi/corehandlecif/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1571712277684" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="shb/global/openapi/corehandlecif/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/openapi/corehandlecif/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="CifInfoType">
        <xs:sequence>
          <xs:element name="cifNo" type="xs:string" />
          <xs:element name="customerType" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="salutation" type="xs:string" />
          <xs:element name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element name="lastName" type="xs:string" />
          <xs:element name="DOB" type="xs:string" />
          <xs:element name="nickName" type="xs:string" />
          <xs:element name="docType" type="xs:string" />
          <xs:element name="docID" type="xs:string" />
          <xs:element name="docIssuePlace" type="xs:string" />
          <xs:element name="docIssueDate" type="xs:string" />
          <xs:element name="docExpireDate" type="xs:string" />
          <xs:element name="mailTo" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoTelephone1" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoTelephone2" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoSecondaryTelephone1" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoSecondaryTelephone2" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoFaxNo" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoMobile" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoEmail1" type="xs:string" />
          <xs:element minOccurs="0" name="contactInfoEmail2" type="xs:string" />
          <xs:element name="personalInfoGender" type="xs:string" />
          <xs:element name="personalInfoMaritalStatus" type="xs:string" />
          <xs:element name="personalInfoCustomerClassification" type="xs:string" />
          <xs:element name="personalInfoPosition" type="xs:string" />
          <xs:element name="personalInfoResidentStatus" type="xs:string" />
          <xs:element name="personalInfoCustomerStatus" type="xs:string" />
          <xs:element name="personalInfoNationality" type="xs:string" />
          <xs:element name="personalInfoDomiclile" type="xs:string" />
          <xs:element name="personalInfoStaff" type="xs:string" />
          <xs:element minOccurs="0" name="personalInfoEmployeeID" type="xs:string" />
          <xs:element minOccurs="0" name="personalInfoEmployeeCode" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressCountry" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressCity" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressDistrict" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressWard" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressBlockNo" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAddressZipCode" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressCountry" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressCity" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressDistrict" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressWard" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressBlockNo" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAddressZipCode" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressCountry" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressCity" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressDistrict" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressWard" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressBlockNo" type="xs:string" />
          <xs:element minOccurs="0" name="othersAddressZipCode" type="xs:string" />
          <xs:element name="profillingDetailsReligion" type="xs:string" />
          <xs:element name="profillingDetailsEthinity" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsOccupation" type="xs:string" />
          <xs:element name="profillingDetailsSpecialAttribute" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsEmployerEconomicActiveCode" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsEmployerBOBox" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCountryWhereEmployerIsBased" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCityWhereEmployerIsBased" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsWorkingPosition" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsWorkingDuration" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsAverageIncome" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCreditLine" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsKindOfService" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsKindOfBusiness" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsKindOfCreditCard" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsSupplementCardInfo" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsIssueDateOfCreditCard" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsSupplementCardRelationship" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsExpireDateOfCreditCard" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsRemainingtTimeInVietnam" type="xs:string" />
          <xs:element name="profillingDetailsTreasuryFlag" type="xs:string" />
          <xs:element name="profillingDetailsInternetBankingAccessRequired" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsPrimaryRelationshipManager" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsSecondaryRelationshipManager" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsNameOfThePersonTheBankWillContact" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsPlaceOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsGender" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsParentName" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsAddress" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsFax" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCompany" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsPositionOfTheRefPersonInTheCompany" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCompanyAddress" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCompanyTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsCompanyFax" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsAppointedDesignation" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsAppointedDate" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsAppointedDecision" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsUserType" type="xs:string" />
          <xs:element minOccurs="0" name="profillingDetailsUserGroup" type="xs:string" />
          <xs:element minOccurs="0" name="idsPassportNo" type="xs:string" />
          <xs:element minOccurs="0" name="idsPassportIssuePlace" type="xs:string" />
          <xs:element minOccurs="0" name="idsPassportIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="idsPassportExpireDate" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceAccountNo" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceBankName" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceBlock" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceStreet" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceArea" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferencePostalCode" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceCity" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceCountry" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankReferenceBankCIF" type="xs:string" />
          <xs:element minOccurs="0" name="idsEmployeeReferenceText" type="xs:string" />
          <xs:element minOccurs="0" name="idsCreditAgencyText" type="xs:string" />
          <xs:element minOccurs="0" name="idsBankStatementsText" type="xs:string" />
          <xs:element minOccurs="0" name="idsDrivingLicenseNo" type="xs:string" />
          <xs:element minOccurs="0" name="idsOthersVisaRegistrationNo" type="xs:string" />
          <xs:element minOccurs="0" name="idsOthersVisaIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="idsOthersVisaExpireDate" type="xs:string" />
          <xs:element minOccurs="0" name="idsOthersVisaPlace" type="xs:string" />
          <xs:element minOccurs="0" name="cdsFaxIndemnity" type="xs:string" />
          <xs:element minOccurs="0" name="cdsTaxID" type="xs:string" />
          <xs:element minOccurs="0" name="createdDate" type="xs:string" />
          <xs:element minOccurs="0" name="createdBy" type="xs:string" />
          <xs:element minOccurs="0" name="lastSaveDate" type="xs:string" />
          <xs:element minOccurs="0" name="csdSpuseName" type="xs:string" />
          <xs:element minOccurs="0" name="cdsStatementCycle" type="xs:string" />
          <xs:element minOccurs="0" name="cdsLanguagePreference" type="xs:string" />
          <xs:element minOccurs="0" name="cdsHoldMail" type="xs:string" />
          <xs:element minOccurs="0" name="cdsHoldAdvice" type="xs:string" />
          <xs:element minOccurs="0" name="cdsHoldLetters" type="xs:string" />
          <xs:element minOccurs="0" name="chiNhanh" type="xs:string" />
          <xs:element minOccurs="0" name="nameInLocalLang" type="xs:string" />
          <xs:element minOccurs="0" name="cifStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="transSign" type="xs:string" />
              <xs:element minOccurs="0" name="reqId" type="xs:string" />
              <xs:element minOccurs="0" name="reqTime" type="xs:string" />
              <xs:element minOccurs="0" name="partnerCode" type="xs:string" />
              <xs:element minOccurs="0" name="branchCode" type="xs:string" />
              <xs:element minOccurs="0" name="mkrID" type="xs:string" />
              <xs:element minOccurs="0" name="mkrDT" type="xs:string" />
              <xs:element minOccurs="0" name="aprID" type="xs:string" />
              <xs:element minOccurs="0" name="aprDT" type="xs:string" />
              <xs:element minOccurs="0" name="customerType" type="xs:string" />
              <xs:element minOccurs="0" name="action" type="xs:string" />
              <xs:element minOccurs="0" name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="status" type="xs:string" />
              <xs:element minOccurs="0" name="salutation" type="xs:string" />
              <xs:element minOccurs="0" name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="middleName" type="xs:string" />
              <xs:element minOccurs="0" name="lastName" type="xs:string" />
              <xs:element minOccurs="0" name="llName" type="xs:string" />
              <xs:element minOccurs="0" name="DOB" type="xs:string" />
              <xs:element minOccurs="0" name="nickName" type="xs:string" />
              <xs:element minOccurs="0" name="docType" type="xs:string" />
              <xs:element minOccurs="0" name="docID" type="xs:string" />
              <xs:element minOccurs="0" name="docIssuePlace" type="xs:string" />
              <xs:element minOccurs="0" name="docIssueDate" type="xs:string" />
              <xs:element minOccurs="0" name="docExpireDate" type="xs:string" />
              <xs:element minOccurs="0" name="mailTo" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoTelephone1" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoTelephone2" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoSecondaryTelephone1" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoSecondaryTelephone2" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoFaxNo" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoMobile" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoEmail1" type="xs:string" />
              <xs:element minOccurs="0" name="contactInfoEmail2" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoGender" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoMaritalStatus" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoCustomerClassification" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoPosition" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoResidentStatus" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoCustomerStatus" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoNationality" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoDomiclile" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoStaff" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoEmployeeID" type="xs:string" />
              <xs:element minOccurs="0" name="personalInfoEmployeeCode" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressCountry" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressCity" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressDistrict" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressWard" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressStreet" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressBlockNo" type="xs:string" />
              <xs:element minOccurs="0" name="primaryAddressZipCode" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressCountry" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressCity" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressDistrict" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressWard" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressStreet" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressBlockNo" type="xs:string" />
              <xs:element minOccurs="0" name="secondaryAddressZipCode" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressCountry" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressCity" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressDistrict" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressWard" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressStreet" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressBlockNo" type="xs:string" />
              <xs:element minOccurs="0" name="othersAddressZipCode" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsReligion" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsEthinity" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsOccupation" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsSpecialAttribute" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsEmployerEconomicActiveCode" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsEmployerBOBox" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCountryWhereEmployerIsBased" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCityWhereEmployerIsBased" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsWorkingPosition" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsWorkingDuration" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsAverageIncome" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCreditLine" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsKindOfService" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsKindOfBusiness" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsKindOfCreditCard" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsSupplementCardInfo" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsIssueDateOfCreditCard" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsSupplementCardRelationship" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsExpireDateOfCreditCard" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsRemainingtTimeInVietnam" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsTreasuryFlag" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsInternetBankingAccessRequired" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsPrimaryRelationshipManager" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsSecondaryRelationshipManager" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsNameOfThePersonTheBankWillContact" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsPlaceOfBirth" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsGender" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsParentName" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsAddress" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsTelephone" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsFax" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCompany" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsPositionOfTheRefPersonInTheCompany" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCompanyAddress" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCompanyTelephone" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsCompanyFax" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsAppointedDesignation" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsAppointedDate" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsAppointedDecision" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsUserType" type="xs:string" />
              <xs:element minOccurs="0" name="profillingDetailsUserGroup" type="xs:string" />
              <xs:element minOccurs="0" name="idsPassportNo" type="xs:string" />
              <xs:element minOccurs="0" name="idsPassportIssuePlace" type="xs:string" />
              <xs:element minOccurs="0" name="idsPassportIssueDate" type="xs:string" />
              <xs:element minOccurs="0" name="idsPassportExpireDate" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceAccountNo" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceBankName" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceBlock" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceStreet" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceArea" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferencePostalCode" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceCity" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceCountry" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankReferenceBankCIF" type="xs:string" />
              <xs:element minOccurs="0" name="idsEmployeeReferenceText" type="xs:string" />
              <xs:element minOccurs="0" name="idsCreditAgencyText" type="xs:string" />
              <xs:element minOccurs="0" name="idsBankStatementsText" type="xs:string" />
              <xs:element minOccurs="0" name="idsDrivingLicenseNo" type="xs:string" />
              <xs:element minOccurs="0" name="idsOthersVisaRegistrationNo" type="xs:string" />
              <xs:element minOccurs="0" name="idsOthersVisaIssueDate" type="xs:string" />
              <xs:element minOccurs="0" name="idsOthersVisaExpireDate" type="xs:string" />
              <xs:element minOccurs="0" name="idsOthersVisaPlace" type="xs:string" />
              <xs:element minOccurs="0" name="cdsFaxIndemnity" type="xs:string" />
              <xs:element minOccurs="0" name="cdsTaxID" type="xs:string" />
              <xs:element minOccurs="0" name="csdSpuseName" type="xs:string" />
              <xs:element minOccurs="0" name="cdsStatementCycle" type="xs:string" />
              <xs:element minOccurs="0" name="cdsLanguagePreference" type="xs:string" />
              <xs:element minOccurs="0" name="cdsHoldMail" type="xs:string" />
              <xs:element minOccurs="0" name="cdsHoldAdvice" type="xs:string" />
              <xs:element minOccurs="0" name="cdsHoldLetters" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="ErrorCode" type="xs:string" />
              <xs:element name="ErrorDesc" type="xs:string" />
              <xs:element name="cifNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="InquiryReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="transSign" type="xs:string" />
              <xs:element minOccurs="0" name="reqId" type="xs:string" />
              <xs:element minOccurs="0" name="reqTime" type="xs:string" />
              <xs:element minOccurs="0" name="partnerCode" type="xs:string" />
              <xs:element minOccurs="0" name="customerType" type="xs:string" />
              <xs:element minOccurs="0" name="infoType" type="xs:string" />
              <xs:element minOccurs="0" name="docType" type="xs:string" />
              <xs:element minOccurs="0" name="docID" type="xs:string" />
              <xs:element minOccurs="0" name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="accountNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="InquiryResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="ErrorCode" type="xs:string" />
              <xs:element name="ErrorMsg" type="xs:string" />
              <xs:element name="ErrorDesc" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:ListCifInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CifInfo" type="ns0:CifInfoType" />
      <xs:element name="CreateReq" type="ns0:CreateReqType" />
      <xs:element name="CreateRes" type="ns0:CreateResType" />
      <xs:element name="InquiryReq" type="ns0:InquiryReqType" />
      <xs:element name="InquiryRes" type="ns0:InquiryResType" />
      <xs:element name="ListCifInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:CifInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateReq">
    <wsdl:part name="request" element="ns0:CreateReq" />
  </wsdl:message>
  <wsdl:message name="CreateRes">
    <wsdl:part name="response" element="ns0:CreateRes" />
  </wsdl:message>
  <wsdl:message name="InquiryReq">
    <wsdl:part name="request" element="ns0:InquiryReq" />
  </wsdl:message>
  <wsdl:message name="InquiryRes">
    <wsdl:part name="response" element="ns0:InquiryRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateReq" />
      <wsdl:output message="tns:CreateRes" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <wsdl:input message="tns:InquiryReq" />
      <wsdl:output message="tns:InquiryRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="/Services/Global/OpenAPI/CoreHandleCIF/OperationImpl/CoreHandleCIF-service0.serviceagent/PortTypeEndpoint0/Create" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <soap:operation soapAction="/Services/Global/OpenAPI/CoreHandleCIF/OperationImpl/CoreHandleCIF-service0.serviceagent/PortTypeEndpoint0/Inquiry" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreHandleCIF">
    <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">openapi.corehandlecif.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>