App_WebReferences/TideAutoSaving/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1603786960805" xmlns:ns0="shb/global/accounts/tideautosaving/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1603786960805" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="shb/global/accounts/tideautosaving/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/accounts/tideautosaving/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="AutoSavingItemType">
        <xs:sequence>
          <xs:element minOccurs="0" name="legacyAc" type="xs:string" />
          <xs:element minOccurs="0" name="minBal" type="xs:string" />
          <xs:element minOccurs="0" name="prinAmt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CancelResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDetailAutoSavingReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDetailAutoSavingResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
              <xs:element minOccurs="0" name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="acName" type="xs:string" />
              <xs:element minOccurs="0" name="depositType" type="xs:string" />
              <xs:element minOccurs="0" name="ccyCd" type="xs:string" />
              <xs:element minOccurs="0" name="minBal" type="xs:string" />
              <xs:element minOccurs="0" name="prinAmt" type="xs:string" />
              <xs:element minOccurs="0" name="tenure" type="xs:string" />
              <xs:element minOccurs="0" name="tenureUnit" type="xs:string" />
              <xs:element minOccurs="0" name="matType" type="xs:string" />
              <xs:element minOccurs="0" name="freqBooking" type="xs:string" />
              <xs:element minOccurs="0" name="startDt" type="xs:string" />
              <xs:element minOccurs="0" name="lastBookDt" type="xs:string" />
              <xs:element minOccurs="0" name="posCd" type="xs:string" />
              <xs:element minOccurs="0" name="regSt" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
              <xs:element minOccurs="0" name="mkrId" type="xs:string" />
              <xs:element minOccurs="0" name="mkrDt" type="xs:string" />
              <xs:element minOccurs="0" name="authId" type="xs:string" />
              <xs:element minOccurs="0" name="authDt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHistAutoSavingReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
              <xs:element minOccurs="0" name="enqType" type="xs:string" />
              <xs:element minOccurs="0" name="fromDt" type="xs:string" />
              <xs:element minOccurs="0" name="toDt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHistAutoSavingResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:ListHistAutoSaving" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetListAutoSavingReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
              <xs:element minOccurs="0" name="depositType" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetListAutoSavingResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:ListAutoSaving" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="HistAutoSavingItemType">
        <xs:sequence>
          <xs:element minOccurs="0" name="openDate" type="xs:string" />
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="refNo" type="xs:string" />
              <xs:element minOccurs="0" name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="depositType" type="xs:string" />
              <xs:element minOccurs="0" name="ccyCd" type="xs:string" />
              <xs:element minOccurs="0" name="minBal" type="xs:string" />
              <xs:element minOccurs="0" name="prinAmt" type="xs:string" />
              <xs:element minOccurs="0" name="tenure" type="xs:string" />
              <xs:element minOccurs="0" name="tenureUnit" type="xs:string" />
              <xs:element minOccurs="0" name="matType" type="xs:string" />
              <xs:element minOccurs="0" name="freqBooking" type="xs:string" />
              <xs:element minOccurs="0" name="startDt" type="xs:string" />
              <xs:element minOccurs="0" name="lastBookDt" type="xs:string" />
              <xs:element minOccurs="0" name="posCd" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
              <xs:element minOccurs="0" name="mkrId" type="xs:string" />
              <xs:element minOccurs="0" name="mkrDt" type="xs:string" />
              <xs:element minOccurs="0" name="authId" type="xs:string" />
              <xs:element minOccurs="0" name="authDt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RegistResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="legacyAc" type="xs:string" />
              <xs:element minOccurs="0" name="minBal" type="xs:string" />
              <xs:element minOccurs="0" name="prinAmt" type="xs:string" />
              <xs:element minOccurs="0" name="tenure" type="xs:string" />
              <xs:element minOccurs="0" name="tenureUnit" type="xs:string" />
              <xs:element minOccurs="0" name="matType" type="xs:string" />
              <xs:element minOccurs="0" name="freqBooking" type="xs:string" />
              <xs:element minOccurs="0" name="startDt" type="xs:string" />
              <xs:element minOccurs="0" name="srcReg" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="AutoSavingItem" type="ns0:AutoSavingItemType" />
      <xs:element name="CancelReq" type="ns0:CancelReqType" />
      <xs:element name="CancelRes" type="ns0:CancelResType" />
      <xs:element name="GetDetailAutoSavingReq" type="ns0:GetDetailAutoSavingReqType" />
      <xs:element name="GetDetailAutoSavingRes" type="ns0:GetDetailAutoSavingResType" />
      <xs:element name="GetHistAutoSavingReq" type="ns0:GetHistAutoSavingReqType" />
      <xs:element name="GetHistAutoSavingRes" type="ns0:GetHistAutoSavingResType" />
      <xs:element name="GetListAutoSavingReq" type="ns0:GetListAutoSavingReqType" />
      <xs:element name="GetListAutoSavingRes" type="ns0:GetListAutoSavingResType" />
      <xs:element name="HistAutoSavingItem" type="ns0:HistAutoSavingItemType" />
      <xs:element name="ListAutoSaving">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:AutoSavingItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListHistAutoSaving">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:HistAutoSavingItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegistReq" type="ns0:RegistReqType" />
      <xs:element name="RegistRes" type="ns0:RegistResType" />
      <xs:element name="UpdateReq" type="ns0:UpdateReqType" />
      <xs:element name="UpdateRes" type="ns0:UpdateResType" />
    </xs:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CancelReq">
    <wsdl:part name="REQ" element="ns0:CancelReq" />
  </wsdl:message>
  <wsdl:message name="CancelRes">
    <wsdl:part name="RES" element="ns0:CancelRes" />
  </wsdl:message>
  <wsdl:message name="RegistReq">
    <wsdl:part name="REQ" element="ns0:RegistReq" />
  </wsdl:message>
  <wsdl:message name="RegistRes">
    <wsdl:part name="RES" element="ns0:RegistRes" />
  </wsdl:message>
  <wsdl:message name="GetHistAutoSavingReq">
    <wsdl:part name="REQ" element="ns0:GetHistAutoSavingReq" />
  </wsdl:message>
  <wsdl:message name="GetHistAutoSavingRes">
    <wsdl:part name="RES" element="ns0:GetHistAutoSavingRes" />
  </wsdl:message>
  <wsdl:message name="UpdateReq">
    <wsdl:part name="REQ" element="ns0:UpdateReq" />
  </wsdl:message>
  <wsdl:message name="UpdateRes">
    <wsdl:part name="RES" element="ns0:UpdateRes" />
  </wsdl:message>
  <wsdl:message name="GetListAutoSavingReq">
    <wsdl:part name="REQ" element="ns0:GetListAutoSavingReq" />
  </wsdl:message>
  <wsdl:message name="GetListAutoSavingRes">
    <wsdl:part name="RES" element="ns0:GetListAutoSavingRes" />
  </wsdl:message>
  <wsdl:message name="GetDetailAutoSavingReq">
    <wsdl:part name="REQ" element="ns0:GetDetailAutoSavingReq" />
  </wsdl:message>
  <wsdl:message name="GetDetailAutoSavingRes">
    <wsdl:part name="RES" element="ns0:GetDetailAutoSavingRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Cancel">
      <wsdl:input message="tns:CancelReq" />
      <wsdl:output message="tns:CancelRes" />
    </wsdl:operation>
    <wsdl:operation name="Regist">
      <wsdl:input message="tns:RegistReq" />
      <wsdl:output message="tns:RegistRes" />
    </wsdl:operation>
    <wsdl:operation name="GetHistAutoSaving">
      <wsdl:input message="tns:GetHistAutoSavingReq" />
      <wsdl:output message="tns:GetHistAutoSavingRes" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateReq" />
      <wsdl:output message="tns:UpdateRes" />
    </wsdl:operation>
    <wsdl:operation name="GetListAutoSaving">
      <wsdl:input message="tns:GetListAutoSavingReq" />
      <wsdl:output message="tns:GetListAutoSavingRes" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailAutoSaving">
      <wsdl:input message="tns:GetDetailAutoSavingReq" />
      <wsdl:output message="tns:GetDetailAutoSavingRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/Cancel" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Regist">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/Regist" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistAutoSaving">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/GetHistAutoSaving" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/Update" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAutoSaving">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/GetListAutoSaving" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailAutoSaving">
      <soap:operation soapAction="/Services/Global/Accounts/TideAutoSaving/OperationImpl/TideAutoSaving-service0.serviceagent/PortTypeEndpoint0/GetDetailAutoSaving" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="REQ" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RES" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TideAutoSaving">
    <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">account.tideautosaving.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>