App_WebReferences/SMLBILLGW/SMLWSGW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SHB_Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Primary_Account_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction_Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Merchant_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Acquiring_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Term_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Card_Acceptor_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bill_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHB_QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SHB_QueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHB_BILLING_TOPUP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Primary_Account_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction_Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Merchant_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Acquiring_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Term_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Card_Acceptor_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Additional_Information" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SHB_BILLING_TOPUPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SHB_BILLING_TOPUPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SHB_QuerySoapIn">
    <wsdl:part name="parameters" element="tns:SHB_Query" />
  </wsdl:message>
  <wsdl:message name="SHB_QuerySoapOut">
    <wsdl:part name="parameters" element="tns:SHB_QueryResponse" />
  </wsdl:message>
  <wsdl:message name="SHB_BILLING_TOPUPSoapIn">
    <wsdl:part name="parameters" element="tns:SHB_BILLING_TOPUP" />
  </wsdl:message>
  <wsdl:message name="SHB_BILLING_TOPUPSoapOut">
    <wsdl:part name="parameters" element="tns:SHB_BILLING_TOPUPResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SHB_Query">
      <wsdl:input message="tns:SHB_QuerySoapIn" />
      <wsdl:output message="tns:SHB_QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SHB_BILLING_TOPUP">
      <wsdl:input message="tns:SHB_BILLING_TOPUPSoapIn" />
      <wsdl:output message="tns:SHB_BILLING_TOPUPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SHB_Query">
      <soap:operation soapAction="http://tempuri.org/SHB_Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHB_BILLING_TOPUP">
      <soap:operation soapAction="http://tempuri.org/SHB_BILLING_TOPUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SHB_Query">
      <soap12:operation soapAction="http://tempuri.org/SHB_Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SHB_BILLING_TOPUP">
      <soap12:operation soapAction="http://tempuri.org/SHB_BILLING_TOPUP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.16.0.6:37002/SMLWSGW.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.16.0.6:37002/SMLWSGW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>