App_WebReferences/AcctSurprise/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1609292816949" xmlns:ns0="shb/global/accounts/acctsurprise/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1609292816949" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="shb/global/accounts/acctsurprise/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/accounts/acctsurprise/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="GetDetailGiftReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="cifNo" type="xs:string" />
              <xs:element name="giftTab" type="xs:string" />
              <xs:element name="refNo" type="xs:string" />
              <xs:element name="status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDetailGiftResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
              <xs:element minOccurs="0" name="cifNo" type="xs:string" />
              <xs:element minOccurs="0" name="giftTo" type="xs:string" />
              <xs:element minOccurs="0" name="srcAcct" type="xs:string" />
              <xs:element minOccurs="0" name="amount" type="xs:string" />
              <xs:element minOccurs="0" name="message" type="xs:string" />
              <xs:element minOccurs="0" name="refNo" type="xs:string" />
              <xs:element minOccurs="0" name="coreDt" type="xs:string" />
              <xs:element minOccurs="0" name="status" type="xs:string" />
              <xs:element minOccurs="0" name="coreDtOpen" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetGiftTemplaceReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="giftType" type="xs:string" />
              <xs:element name="templaceType" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetGiftTemplaceResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
              <xs:element name="giftType" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:listGiftTemplace" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetGiftTypeReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetGiftTypeResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:listGiftType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHistoryGiftReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="cifNo" type="xs:string" />
              <xs:element name="giftTab" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHistoryGiftResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
              <xs:element minOccurs="0" ref="ns0:listHistoryGift" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ItemGiftTemplaceType">
        <xs:sequence>
          <xs:element name="valueVn" type="xs:string" />
          <xs:element name="valueEn" type="xs:string" />
          <xs:element name="color" type="xs:string" />
          <xs:element name="position" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ItemGiftType">
        <xs:sequence>
          <xs:element name="giftType" type="xs:string" />
          <xs:element name="giftTypeNameVn" type="xs:string" />
          <xs:element name="giftTypeNameEn" type="xs:string" />
          <xs:element name="urlIcon" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListGiftTemplaceType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:itemGiftTemplace" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListGiftTypeType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:itemGiftType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SurpriseBlockReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="refNo" type="xs:string" />
              <xs:element name="acctNo" type="xs:string" />
              <xs:element name="orgEarAmount" type="xs:string" />
              <xs:element name="effDT" type="xs:string" />
              <xs:element name="reasonTXT" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SurpriseBlockResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SurpriseUnblockReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="refNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SurpriseUnblockResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errorCode" type="xs:string" />
              <xs:element name="errorDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="itemHistoryGiftType">
        <xs:sequence>
          <xs:element name="giftTypeNameVn" type="xs:string" />
          <xs:element name="giftTypeNameEn" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="coreDt" type="xs:string" />
          <xs:element name="amount" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="refNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listHistoryGiftType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:itemHistoryGift" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetDetailGiftReq" type="ns0:GetDetailGiftReqType" />
      <xs:element name="GetDetailGiftRes" type="ns0:GetDetailGiftResType" />
      <xs:element name="GetGiftTemplaceReq" type="ns0:GetGiftTemplaceReqType" />
      <xs:element name="GetGiftTemplaceRes" type="ns0:GetGiftTemplaceResType" />
      <xs:element name="GetGiftTypeReq" type="ns0:GetGiftTypeReqType" />
      <xs:element name="GetGiftTypeRes" type="ns0:GetGiftTypeResType" />
      <xs:element name="GetHistoryGiftReq" type="ns0:GetHistoryGiftReqType" />
      <xs:element name="GetHistoryGiftRes" type="ns0:GetHistoryGiftResType" />
      <xs:element name="SurpriseBlockReq" type="ns0:SurpriseBlockReqType" />
      <xs:element name="SurpriseBlockRes" type="ns0:SurpriseBlockResType" />
      <xs:element name="SurpriseUnblockReq" type="ns0:SurpriseUnblockReqType" />
      <xs:element name="SurpriseUnblockRes" type="ns0:SurpriseUnblockResType" />
      <xs:element name="itemGiftTemplace" type="ns0:ItemGiftTemplaceType" />
      <xs:element name="itemGiftType" type="ns0:ItemGiftType" />
      <xs:element name="itemHistoryGift" type="ns0:itemHistoryGiftType" />
      <xs:element name="listGiftTemplace" type="ns0:ListGiftTemplaceType" />
      <xs:element name="listGiftType" type="ns0:ListGiftTypeType" />
      <xs:element name="listHistoryGift" type="ns0:listHistoryGiftType" />
    </xs:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SurpriseBlockReq">
    <wsdl:part name="request" element="ns0:SurpriseBlockReq" />
  </wsdl:message>
  <wsdl:message name="SurpriseBlockRes">
    <wsdl:part name="response" element="ns0:SurpriseBlockRes" />
  </wsdl:message>
  <wsdl:message name="SurpriseUnblockReq">
    <wsdl:part name="request" element="ns0:SurpriseUnblockReq" />
  </wsdl:message>
  <wsdl:message name="SurpriseUnblockRes">
    <wsdl:part name="response" element="ns0:SurpriseUnblockRes" />
  </wsdl:message>
  <wsdl:message name="GetDetailGiftReq">
    <wsdl:part name="request" element="ns0:GetDetailGiftReq" />
  </wsdl:message>
  <wsdl:message name="GetDetailGiftRes">
    <wsdl:part name="response" element="ns0:GetDetailGiftRes" />
  </wsdl:message>
  <wsdl:message name="GetGiftTypeReq">
    <wsdl:part name="request" element="ns0:GetGiftTypeReq" />
  </wsdl:message>
  <wsdl:message name="GetGiftTypeRes">
    <wsdl:part name="response" element="ns0:GetGiftTypeRes" />
  </wsdl:message>
  <wsdl:message name="GetGiftTemplaceReq">
    <wsdl:part name="request" element="ns0:GetGiftTemplaceReq" />
  </wsdl:message>
  <wsdl:message name="GetGiftTemplaceRes">
    <wsdl:part name="response" element="ns0:GetGiftTemplaceRes" />
  </wsdl:message>
  <wsdl:message name="GetHistoryGiftReq">
    <wsdl:part name="request" element="ns0:GetHistoryGiftReq" />
  </wsdl:message>
  <wsdl:message name="GetHistoryGiftRes">
    <wsdl:part name="response" element="ns0:GetHistoryGiftRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="SurpriseBlock">
      <wsdl:input message="tns:SurpriseBlockReq" />
      <wsdl:output message="tns:SurpriseBlockRes" />
    </wsdl:operation>
    <wsdl:operation name="SurpriseUnblock">
      <wsdl:input message="tns:SurpriseUnblockReq" />
      <wsdl:output message="tns:SurpriseUnblockRes" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailGift">
      <wsdl:input message="tns:GetDetailGiftReq" />
      <wsdl:output message="tns:GetDetailGiftRes" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftType">
      <wsdl:input message="tns:GetGiftTypeReq" />
      <wsdl:output message="tns:GetGiftTypeRes" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftTemplace">
      <wsdl:input message="tns:GetGiftTemplaceReq" />
      <wsdl:output message="tns:GetGiftTemplaceRes" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryGift">
      <wsdl:input message="tns:GetHistoryGiftReq" />
      <wsdl:output message="tns:GetHistoryGiftRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="SurpriseBlock">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/SurpriseBlock" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SurpriseUnblock">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/SurpriseUnblock" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailGift">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/GetDetailGift" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftType">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/GetGiftType" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftTemplace">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/GetGiftTemplace" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryGift">
      <soap:operation soapAction="/Services/Global/Accounts/AcctSurprise/OperationImpl/AcctSurprise-service1.serviceagent/PortTypeEndpoint1/GetHistoryGift" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcctSurprise">
    <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">account.acctsurprise.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>