App_WebReferences/PassBook/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1486372079415" xmlns:ns0="shb/global/accounts/passbook/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1486372079415" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="shb/global/accounts/passbook/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/accounts/passbook/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="PassBookClosureReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="ChnlId" type="xs:string" />
              <xs:element name="TxnDt" type="xs:string" />
              <xs:element name="ItfId" type="xs:string" />
              <xs:element name="RefNo" type="xs:string" />
              <xs:element name="AccNo" type="xs:string" />
              <xs:element name="DepositNo" type="xs:string" />
              <xs:element name="WdlType" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PassBookClosureResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ResultCode" type="xs:string" />
              <xs:element minOccurs="0" name="RefNo" type="xs:string" />
              <xs:element minOccurs="0" name="TranTime" type="xs:string" />
              <xs:element minOccurs="0" name="DepositNo" type="xs:string" />
              <xs:element minOccurs="0" name="TxnRefNo" type="xs:string" />
              <xs:element minOccurs="0" name="AmtWithdrawn" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PassBookCreateReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="ChnlId" type="xs:string" />
              <xs:element name="TxnDt" type="xs:string" />
              <xs:element name="ItfId" type="xs:string" />
              <xs:element name="RefNo" type="xs:string" />
              <xs:element name="AccNo" type="xs:string" />
              <xs:element name="Ccy" type="xs:decimal" />
              <xs:element name="TideNo" type="xs:string" />
              <xs:element name="TenureUnit" type="xs:string" />
              <xs:element name="Tenure" type="xs:decimal" />
              <xs:element name="Amt" type="xs:decimal" />
              <xs:element name="ProdCd" type="xs:decimal" />
              <xs:element name="DepType" type="xs:string" />
              <xs:element name="PrinOnMat" type="xs:string" />
              <xs:element name="IntOnMat" type="xs:string" />
              <xs:element minOccurs="0" name="AddnlField" type="xs:string" />
              <xs:element minOccurs="0" name="PosCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PassBookCreateResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ResultCode" type="xs:string" />
              <xs:element minOccurs="0" name="RefNo" type="xs:string" />
              <xs:element minOccurs="0" name="TranTime" type="xs:string" />
              <xs:element minOccurs="0" name="DepositNo" type="xs:string" />
              <xs:element minOccurs="0" name="TxnRefNo" type="xs:string" />
              <xs:element minOccurs="0" name="LegacyTideNo" type="xs:string" />
              <xs:element minOccurs="0" name="IntRate" type="xs:double" />
              <xs:element minOccurs="0" name="IntAmtOnMat" type="xs:double" />
              <xs:element minOccurs="0" name="MatDt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="PassBookClosureReq" type="ns0:PassBookClosureReqType" />
      <xs:element name="PassBookClosureRes" type="ns0:PassBookClosureResType" />
      <xs:element name="PassBookCreateReq" type="ns0:PassBookCreateReqType" />
      <xs:element name="PassBookCreateRes" type="ns0:PassBookCreateResType" />
    </xs:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ClosureReq">
    <wsdl:part name="Request" element="ns0:PassBookClosureReq" />
  </wsdl:message>
  <wsdl:message name="ClosureRes">
    <wsdl:part name="Response" element="ns0:PassBookClosureRes" />
  </wsdl:message>
  <wsdl:message name="CreateReq">
    <wsdl:part name="Request" element="ns0:PassBookCreateReq" />
  </wsdl:message>
  <wsdl:message name="CreateRes">
    <wsdl:part name="Response" element="ns0:PassBookCreateRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Closure">
      <wsdl:input message="tns:ClosureReq" />
      <wsdl:output message="tns:ClosureRes" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateReq" />
      <wsdl:output message="tns:CreateRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="Closure">
      <soap:operation soapAction="/Services/Global/Accounts/PassBook/OperationImpl/PassBook-service1.serviceagent/PortTypeEndpoint1/Closure" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="/Services/Global/Accounts/PassBook/OperationImpl/PassBook-service1.serviceagent/PortTypeEndpoint1/Create" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassBook">
    <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">account.passbook.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>