App_WebReferences/EVNMN/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1531381278330" xmlns:ns0="shb/global/payments/evnmnbillpaymentsw/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1531381278330" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Service" />
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServiceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ServiceID" type="xsd:string" />
          <xsd:element minOccurs="0" name="ServiceName" type="xsd:string" />
          <xsd:element minOccurs="0" name="Operatrion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Service" type="cmd-header:ServiceType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="shb/global/payments/evnmnbillpaymentsw/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/payments/evnmnbillpaymentsw/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="AmountType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BillCodesType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelBillsByCustomerCodeReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="CustomerCode" type="xs:string" />
              <xs:element ref="ns0:BillCodes" />
              <xs:element ref="ns0:TransactionCode" />
              <xs:element ref="ns0:Amount" />
              <xs:element name="CancelDate" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CancelBillsByCustomerCodeResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="Status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CustomerInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" type="xs:string" />
          <xs:element minOccurs="0" name="Bills" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" type="xs:string" />
          <xs:element minOccurs="0" name="DanhSo" type="xs:string" />
          <xs:element minOccurs="0" name="MaSoThue" type="xs:string" />
          <xs:element minOccurs="0" name="MaTram" type="xs:string" />
          <xs:element minOccurs="0" name="Name" type="xs:string" />
          <xs:element minOccurs="0" name="NganhNghe" type="xs:string" />
          <xs:element minOccurs="0" name="PhienGCS" type="xs:string" />
          <xs:element minOccurs="0" name="Session" type="xs:string" />
          <xs:element minOccurs="0" name="SoCongTo" type="xs:string" />
          <xs:element minOccurs="0" name="SoGhiChiSo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DonvinInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaDonViQL" type="xs:string" />
          <xs:element minOccurs="0" name="TenDonViQL" type="xs:string" />
          <xs:element minOccurs="0" name="DiaChi" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCustomerInfoReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="CustomerCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetCustomerInfoResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="CustomerCode" type="xs:string" />
              <xs:element minOccurs="0" name="DanhSo" type="xs:string" />
              <xs:element minOccurs="0" name="MaSoThue" type="xs:string" />
              <xs:element minOccurs="0" name="MaTram" type="xs:string" />
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="NganhNghe" type="xs:string" />
              <xs:element minOccurs="0" name="PhienGCS" type="xs:string" />
              <xs:element minOccurs="0" name="Section" type="xs:string" />
              <xs:element minOccurs="0" name="SoCongTo" type="xs:string" />
              <xs:element minOccurs="0" name="SoGhiChiSo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:ListofBillInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDonViEVNSPCReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="MaDonViQL" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetDonViEVNSPCResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:DonvinInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHanMucTienThuReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="MaDonViQL" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetHanMucTienThuResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="Status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetListCustomerInfoReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="HoaDonID" type="xs:int" />
              <xs:element name="CustomerName" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="MaDonViQL" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetListCustomerInfoResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:CustomerInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetPaymentInfosReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="TuNgay" type="xs:string" />
              <xs:element name="DenNgay" type="xs:string" />
              <xs:element name="TransactionCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetPaymentInfosResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:ListofPaymentInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="HDon_IDType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListofBillInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillCode" type="xs:string" />
          <xs:element minOccurs="0" name="HoaDonID" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:string" />
          <xs:element minOccurs="0" name="Month" type="xs:string" />
          <xs:element minOccurs="0" name="Year" type="xs:string" />
          <xs:element minOccurs="0" name="SoHo" type="xs:string" />
          <xs:element minOccurs="0" name="TiLeGia" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListofPaymentInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerCode" type="xs:string" />
          <xs:element minOccurs="0" name="Name" type="xs:string" />
          <xs:element minOccurs="0" name="Address" type="xs:string" />
          <xs:element minOccurs="0" name="HoaDonID" type="xs:string" />
          <xs:element minOccurs="0" name="Ky" type="xs:string" />
          <xs:element minOccurs="0" name="Thang" type="xs:string" />
          <xs:element minOccurs="0" name="Nam" type="xs:string" />
          <xs:element minOccurs="0" name="MaLoaiHD" type="xs:string" />
          <xs:element minOccurs="0" name="MaLoaiDVu" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:string" />
          <xs:element minOccurs="0" name="TransacsionCode" type="xs:string" />
          <xs:element name="PayDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayBillsByCustomerCodeReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="BankID" type="xs:string" />
              <xs:element name="CustomerCode" type="xs:string" />
              <xs:element name="PayDate" type="xs:string" />
              <xs:element name="KyHieuHoaDon" type="xs:string" />
              <xs:element name="DepartCode" type="xs:string" />
              <xs:element name="DaInHD" type="xs:string" />
              <xs:element ref="ns0:BillCodes" />
              <xs:element ref="ns0:Amount" />
              <xs:element ref="ns0:TransactionCode" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PayBillsByCustomerCodeResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="TransCode" type="xs:string" />
              <xs:element name="Status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TransactionCodeType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Amount" type="ns0:AmountType" />
      <xs:element name="BillCodes" type="ns0:BillCodesType" />
      <xs:element name="CancelBillsByCustomerCodeReq" type="ns0:CancelBillsByCustomerCodeReqType" />
      <xs:element name="CancelBillsByCustomerCodeRes" type="ns0:CancelBillsByCustomerCodeResType" />
      <xs:element name="CustomerInfo" type="ns0:CustomerInfoType" />
      <xs:element name="DonvinInfo" type="ns0:DonvinInfoType" />
      <xs:element name="GetCustomerInfoReq" type="ns0:GetCustomerInfoReqType" />
      <xs:element name="GetCustomerInfoRes" type="ns0:GetCustomerInfoResType" />
      <xs:element name="GetDonViEVNSPCReq" type="ns0:GetDonViEVNSPCReqType" />
      <xs:element name="GetDonViEVNSPCRes" type="ns0:GetDonViEVNSPCResType" />
      <xs:element name="GetHanMucTienThuReq" type="ns0:GetHanMucTienThuReqType" />
      <xs:element name="GetHanMucTienThuRes" type="ns0:GetHanMucTienThuResType" />
      <xs:element name="GetListCustomerInfoReq" type="ns0:GetListCustomerInfoReqType" />
      <xs:element name="GetListCustomerInfoRes" type="ns0:GetListCustomerInfoResType" />
      <xs:element name="GetPaymentInfosReq" type="ns0:GetPaymentInfosReqType" />
      <xs:element name="GetPaymentInfosRes" type="ns0:GetPaymentInfosResType" />
      <xs:element name="HDon_ID" type="ns0:HDon_IDType" />
      <xs:element name="ListofBillInfo" type="ns0:ListofBillInfoType" />
      <xs:element name="ListofPaymentInfo" type="ns0:ListofPaymentInfoType" />
      <xs:element name="PayBillsByCustomerCodeReq" type="ns0:PayBillsByCustomerCodeReqType" />
      <xs:element name="PayBillsByCustomerCodeRes" type="ns0:PayBillsByCustomerCodeResType" />
      <xs:element name="TransactionCode" type="ns0:TransactionCodeType" />
    </xs:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetListCustomerInfoReq">
    <wsdl:part name="Request" element="ns0:GetListCustomerInfoReq" />
  </wsdl:message>
  <wsdl:message name="GetListCustomerInfoRes">
    <wsdl:part name="Response" element="ns0:GetListCustomerInfoRes" />
  </wsdl:message>
  <wsdl:message name="CancelBillsByCustomerCodeReq">
    <wsdl:part name="Request" element="ns0:CancelBillsByCustomerCodeReq" />
  </wsdl:message>
  <wsdl:message name="CancelBillsByCustomerCodeRes">
    <wsdl:part name="Response" element="ns0:CancelBillsByCustomerCodeRes" />
  </wsdl:message>
  <wsdl:message name="GetHanMucTienThuReq">
    <wsdl:part name="Request" element="ns0:GetHanMucTienThuReq" />
  </wsdl:message>
  <wsdl:message name="GetHanMucTienThuRes">
    <wsdl:part name="Response" element="ns0:GetHanMucTienThuRes" />
  </wsdl:message>
  <wsdl:message name="PayBillsByCustomerCodeReq">
    <wsdl:part name="Request" element="ns0:PayBillsByCustomerCodeReq" />
  </wsdl:message>
  <wsdl:message name="PayBillsByCustomerCodeRes">
    <wsdl:part name="Response" element="ns0:PayBillsByCustomerCodeRes" />
  </wsdl:message>
  <wsdl:message name="GetPaymentInfosReq">
    <wsdl:part name="Request" element="ns0:GetPaymentInfosReq" />
  </wsdl:message>
  <wsdl:message name="GetPaymentInfosRes">
    <wsdl:part name="Response" element="ns0:GetPaymentInfosRes" />
  </wsdl:message>
  <wsdl:message name="GetCustomerInfoReq">
    <wsdl:part name="Request" element="ns0:GetCustomerInfoReq" />
  </wsdl:message>
  <wsdl:message name="GetCustomerInfoRes">
    <wsdl:part name="Response" element="ns0:GetCustomerInfoRes" />
  </wsdl:message>
  <wsdl:message name="GetDonViEVNSPCReq">
    <wsdl:part name="Request" element="ns0:GetDonViEVNSPCReq" />
  </wsdl:message>
  <wsdl:message name="GetDonViEVNSPCRes">
    <wsdl:part name="Response" element="ns0:GetDonViEVNSPCRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="GetListCustomerInfo">
      <wsdl:input message="tns:GetListCustomerInfoReq" />
      <wsdl:output message="tns:GetListCustomerInfoRes" />
    </wsdl:operation>
    <wsdl:operation name="CancelBillsByCustomerCode">
      <wsdl:input message="tns:CancelBillsByCustomerCodeReq" />
      <wsdl:output message="tns:CancelBillsByCustomerCodeRes" />
    </wsdl:operation>
    <wsdl:operation name="GetHanMucTienThu">
      <wsdl:input message="tns:GetHanMucTienThuReq" />
      <wsdl:output message="tns:GetHanMucTienThuRes" />
    </wsdl:operation>
    <wsdl:operation name="PayBillsByCustomerCode">
      <wsdl:input message="tns:PayBillsByCustomerCodeReq" />
      <wsdl:output message="tns:PayBillsByCustomerCodeRes" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentInfos">
      <wsdl:input message="tns:GetPaymentInfosReq" />
      <wsdl:output message="tns:GetPaymentInfosRes" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input message="tns:GetCustomerInfoReq" />
      <wsdl:output message="tns:GetCustomerInfoRes" />
    </wsdl:operation>
    <wsdl:operation name="GetDonViEVNSPC">
      <wsdl:input message="tns:GetDonViEVNSPCReq" />
      <wsdl:output message="tns:GetDonViEVNSPCRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="GetListCustomerInfo">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/GetListCustomerInfo" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBillsByCustomerCode">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/CancelBillsByCustomerCode" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHanMucTienThu">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/GetHanMucTienThu" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBillsByCustomerCode">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/PayBillsByCustomerCode" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentInfos">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/GetPaymentInfos" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/GetCustomerInfo" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonViEVNSPC">
      <soap:operation soapAction="/Services/Global/Payments/EvnMNBillPayment/OperationImpl/EvnMNBillPayment-service0.serviceagent/PortTypeEndpoint0/GetDonViEVNSPC" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="Request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvnMNBillPayment">
    <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">payments.evnmnbillpayment.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>