App_WebReferences/payooGW/payoogw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryAmountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tran_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bank_custid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoPaymentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryAmountSoapIn">
    <wsdl:part name="parameters" element="tns:QueryAmount" />
  </wsdl:message>
  <wsdl:message name="QueryAmountSoapOut">
    <wsdl:part name="parameters" element="tns:QueryAmountResponse" />
  </wsdl:message>
  <wsdl:message name="DoPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:DoPayment" />
  </wsdl:message>
  <wsdl:message name="DoPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:DoPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="PayooGWSoap">
    <wsdl:operation name="QueryAmount">
      <wsdl:input message="tns:QueryAmountSoapIn" />
      <wsdl:output message="tns:QueryAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoPayment">
      <wsdl:input message="tns:DoPaymentSoapIn" />
      <wsdl:output message="tns:DoPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayooGWSoap" type="tns:PayooGWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAmount">
      <soap:operation soapAction="http://tempuri.org/QueryAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPayment">
      <soap:operation soapAction="http://tempuri.org/DoPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayooGWSoap12" type="tns:PayooGWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAmount">
      <soap12:operation soapAction="http://tempuri.org/QueryAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPayment">
      <soap12:operation soapAction="http://tempuri.org/DoPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayooGW">
    <wsdl:port name="PayooGWSoap" binding="tns:PayooGWSoap">
      <soap:address location="http://localhost/payoogw/payoogw.asmx" />
    </wsdl:port>
    <wsdl:port name="PayooGWSoap12" binding="tns:PayooGWSoap12">
      <soap12:address location="http://localhost/payoogw/payoogw.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>