App_WebReferences/EVNHN/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1508749333218" xmlns:ns0="shb/global/payments/evnhnbillpayment/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1508749333218" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="shb/global/payments/evnhnbillpayment/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/payments/evnhnbillpayment/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:complexType name="CustomerInfoGetBillType">
        <xs:sequence>
          <xs:element name="customerCd" type="xs:string" />
          <xs:element name="customerNm" type="xs:string" />
          <xs:element name="customerAddr" type="xs:string" />
          <xs:element name="GCScd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CustomerSearchItemType">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerNm" type="xs:string" />
          <xs:element minOccurs="0" name="customerCd" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="billCd" type="xs:string" />
          <xs:element minOccurs="0" name="tenure" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DebtBillingType">
        <xs:sequence>
          <xs:element name="billingCd" type="xs:string" />
          <xs:element name="tenure" type="xs:string" />
          <xs:element name="debtAmount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EvnHNBillDetailItemResType">
        <xs:sequence>
          <xs:element name="managementUnitCd" type="xs:string" />
          <xs:element name="billCd" type="xs:string" />
          <xs:element name="billType" type="xs:string" />
          <xs:element name="ps" type="xs:string" />
          <xs:element name="customerCd" type="xs:string" />
          <xs:element name="customerNm" type="xs:string" />
          <xs:element name="customerAddr" type="xs:string" />
          <xs:element name="year" type="xs:string" />
          <xs:element name="month" type="xs:string" />
          <xs:element name="tenure" type="xs:string" />
          <xs:element name="serialNo" type="xs:string" />
          <xs:element name="openingDt" type="xs:string" />
          <xs:element name="closingDt" type="xs:string" />
          <xs:element name="debtAmount" type="xs:string" />
          <xs:element name="taxDebtAmount" type="xs:string" />
          <xs:element name="electricityMeterNo" type="xs:string" />
          <xs:element name="directoryNo" type="xs:string" />
          <xs:element name="comsumingAmt" type="xs:string" />
          <xs:element name="OpeningVal" type="xs:string" />
          <xs:element name="ClosingVal" type="xs:string" />
          <xs:element name="priceDetail" type="xs:string" />
          <xs:element name="comsumingDetail" type="xs:string" />
          <xs:element name="amountDetail" type="xs:string" />
          <xs:element name="paymentType" type="xs:string" />
          <xs:element name="phoneNo" type="xs:string" />
          <xs:element name="gcsCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EvnHNBillDetailReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="managementUnitCd" type="xs:string" />
              <xs:element name="customerCd" type="xs:string" />
              <xs:element minOccurs="0" name="billCd" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNBillDetailResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="EvnHNBillDetailItem" type="ns0:EvnHNBillDetailItemResType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNCustomerSearchReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="customerNm" type="xs:string" />
              <xs:element minOccurs="0" name="address" type="xs:string" />
              <xs:element minOccurs="0" name="customerCd" type="xs:string" />
              <xs:element minOccurs="0" name="sogCS" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNCustomerSearchResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerSearchItem" type="ns0:CustomerSearchItemType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNDoPayment1ReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="customerCd" type="xs:string" />
              <xs:element name="serviceCd" type="xs:string" />
              <xs:element name="debtAmount" type="xs:string" />
              <xs:element name="debtTransactionCd" type="xs:string" />
              <xs:element name="paymentDt" type="xs:string" />
              <xs:element name="transactionChannel" type="xs:string" />
              <xs:element name="regionCd" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="bankCd" type="xs:string" />
              <xs:element name="billCd" type="xs:string" />
              <xs:element minOccurs="0" name="backupCd1" type="xs:string" />
              <xs:element name="providerCd" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNDoPayment1ResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="respCd" type="xs:string" />
              <xs:element name="respDes" type="xs:string" />
              <xs:element name="transactionCdReturn" type="xs:string" />
              <xs:element name="transactionDt" type="xs:string" />
              <xs:element name="backupCd1" type="xs:string" />
              <xs:element name="backupCd2" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNDoPayment2ReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNDoPayment2ResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="debtStatus" type="xs:string" />
              <xs:element name="debtStatusDesc" type="xs:string" />
              <xs:element name="ID" type="xs:string" />
              <xs:element name="unitCd" type="xs:string" />
              <xs:element name="complainCd" type="xs:string" />
              <xs:element name="recordStatusCd" type="xs:string" />
              <xs:element name="recordAmt" type="xs:string" />
              <xs:element name="recordStatusNm" type="xs:string" />
              <xs:element name="bankCd" type="xs:string" />
              <xs:element name="debtPaymentDt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNGetBill2ReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="gkCd" type="xs:string" />
              <xs:element name="customerNm" type="xs:string" />
              <xs:element name="phoneNo" type="xs:string" />
              <xs:element name="identityNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNGetBill2ResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="managementUnit" type="xs:string" />
              <xs:element name="customerNm" type="xs:string" />
              <xs:element name="amount" type="xs:string" />
              <xs:element name="receivingDt" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="phoneNo" type="xs:string" />
              <xs:element name="identityNo" type="xs:string" />
              <xs:element name="requirementNo" type="xs:string" />
              <xs:element name="bankCd" type="xs:string" />
              <xs:element name="bankNm" type="xs:string" />
              <xs:element name="bankAccNm" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNGetBillReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="customerCd" type="xs:string" />
              <xs:element name="serviceCd" type="xs:string" />
              <xs:element name="bankCd" type="xs:string" />
              <xs:element minOccurs="0" name="regionCd" type="xs:string" />
              <xs:element minOccurs="0" name="branchCd" type="xs:string" />
              <xs:element name="providerCd" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNGetBillResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="respCd" type="xs:string" />
              <xs:element name="respDes" type="xs:string" />
              <xs:element name="customerCd" type="xs:string" />
              <xs:element name="serviceCd" type="xs:string" />
              <xs:element minOccurs="0" name="totalDebt" type="xs:string" />
              <xs:element minOccurs="0" name="bankCd" type="xs:string" />
              <xs:element minOccurs="0" name="regionCd" type="xs:string" />
              <xs:element minOccurs="0" name="backupCd1" type="xs:string" />
              <xs:element minOccurs="0" name="customerInfo" type="ns0:CustomerInfoGetBillType" />
              <xs:element minOccurs="0" name="backupCd2" type="xs:string" />
              <xs:element minOccurs="0" name="backupCd3" type="xs:string" />
              <xs:element minOccurs="0" name="backupCd4" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="billingList" type="ns0:DebtBillingType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNRevertReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="customerCd" type="xs:string" />
              <xs:element name="serviceCd" type="xs:string" />
              <xs:element name="revertCd" type="xs:string" />
              <xs:element name="transactionCd" type="xs:string" />
              <xs:element name="revertDt" type="xs:string" />
              <xs:element name="providerCd" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EvnHNRevertResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="respCd" type="xs:string" />
              <xs:element name="respDesc" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="EvnHNBillDetailReq" type="ns0:EvnHNBillDetailReqType" />
      <xs:element name="EvnHNBillDetailRes" type="ns0:EvnHNBillDetailResType" />
      <xs:element name="EvnHNCustomerSearchReq" type="ns0:EvnHNCustomerSearchReqType" />
      <xs:element name="EvnHNCustomerSearchRes" type="ns0:EvnHNCustomerSearchResType" />
      <xs:element name="EvnHNDoPayment1Req" type="ns0:EvnHNDoPayment1ReqType" />
      <xs:element name="EvnHNDoPayment1Res" type="ns0:EvnHNDoPayment1ResType" />
      <xs:element name="EvnHNDoPayment2Req" type="ns0:EvnHNDoPayment2ReqType" />
      <xs:element name="EvnHNDoPayment2Res" type="ns0:EvnHNDoPayment2ResType" />
      <xs:element name="EvnHNGetBill2Req" type="ns0:EvnHNGetBill2ReqType" />
      <xs:element name="EvnHNGetBill2Res" type="ns0:EvnHNGetBill2ResType" />
      <xs:element name="EvnHNGetBillReq" type="ns0:EvnHNGetBillReqType" />
      <xs:element name="EvnHNGetBillRes" type="ns0:EvnHNGetBillResType" />
      <xs:element name="EvnHNRevertReq" type="ns0:EvnHNRevertReqType" />
      <xs:element name="EvnHNRevertRes" type="ns0:EvnHNRevertResType" />
    </xs:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DoPayment1Req">
    <wsdl:part name="input" element="ns0:EvnHNDoPayment1Req" />
  </wsdl:message>
  <wsdl:message name="DoPayment1Res">
    <wsdl:part name="output" element="ns0:EvnHNDoPayment1Res" />
  </wsdl:message>
  <wsdl:message name="DoPayment2Req">
    <wsdl:part name="input" element="ns0:EvnHNDoPayment2Req" />
  </wsdl:message>
  <wsdl:message name="DoPayment2Res">
    <wsdl:part name="output" element="ns0:EvnHNDoPayment2Res" />
  </wsdl:message>
  <wsdl:message name="CustomerSearchReq">
    <wsdl:part name="input" element="ns0:EvnHNCustomerSearchReq" />
  </wsdl:message>
  <wsdl:message name="CustomerSearchRes">
    <wsdl:part name="output" element="ns0:EvnHNCustomerSearchRes" />
  </wsdl:message>
  <wsdl:message name="BillDetailReq">
    <wsdl:part name="input" element="ns0:EvnHNBillDetailReq" />
  </wsdl:message>
  <wsdl:message name="BillDetailRes">
    <wsdl:part name="output" element="ns0:EvnHNBillDetailRes" />
  </wsdl:message>
  <wsdl:message name="RevertReq">
    <wsdl:part name="input" element="ns0:EvnHNRevertReq" />
  </wsdl:message>
  <wsdl:message name="RevertRes">
    <wsdl:part name="part1" element="ns0:EvnHNRevertRes" />
  </wsdl:message>
  <wsdl:message name="GetBillReq">
    <wsdl:part name="input" element="ns0:EvnHNGetBillReq" />
  </wsdl:message>
  <wsdl:message name="GetBillRes">
    <wsdl:part name="output" element="ns0:EvnHNGetBillRes" />
  </wsdl:message>
  <wsdl:message name="GetBill2Req">
    <wsdl:part name="input" element="ns0:EvnHNGetBill2Req" />
  </wsdl:message>
  <wsdl:message name="GetBill2Res">
    <wsdl:part name="part1" element="ns0:EvnHNGetBill2Res" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="DoPayment1">
      <wsdl:input message="tns:DoPayment1Req" />
      <wsdl:output message="tns:DoPayment1Res" />
    </wsdl:operation>
    <wsdl:operation name="DoPayment2">
      <wsdl:input message="tns:DoPayment2Req" />
      <wsdl:output message="tns:DoPayment2Res" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <wsdl:input message="tns:CustomerSearchReq" />
      <wsdl:output message="tns:CustomerSearchRes" />
    </wsdl:operation>
    <wsdl:operation name="BillDetail">
      <wsdl:input message="tns:BillDetailReq" />
      <wsdl:output message="tns:BillDetailRes" />
    </wsdl:operation>
    <wsdl:operation name="Revert">
      <wsdl:input message="tns:RevertReq" />
      <wsdl:output message="tns:RevertRes" />
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <wsdl:input message="tns:GetBillReq" />
      <wsdl:output message="tns:GetBillRes" />
    </wsdl:operation>
    <wsdl:operation name="GetBill2">
      <wsdl:input message="tns:GetBill2Req" />
      <wsdl:output message="tns:GetBill2Res" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint3Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="DoPayment1">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/DoPayment1" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPayment2">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/DoPayment2" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/CustomerSearch" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillDetail">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/BillDetail" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Revert">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/Revert" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part1" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/GetBill" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="output" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBill2">
      <soap:operation soapAction="/Services/Global/Payments/EvnHnBillPayment/OperationImpl/EvnHNBillPayment-service3.serviceagent/PortTypeEndpoint3/GetBill2" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="input" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part1" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvnHNBillPayment">
    <wsdl:port name="PortTypeEndpoint3" binding="tns:PortTypeEndpoint3Binding">
      <soap:address location="" />
      <jms:connectionFactory>FTQueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">evnhn.billpayment.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>