App_WebReferences/FlexTide/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1581666380348" xmlns:ns4="shb/global/datatypes/common/ver1.0" xmlns:ns0="shb/global/accounts/flextide/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns3="shb/global/datatypes/accounts/ver1.0" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1581666380348" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
    <xs:schema xmlns:dt-common="shb/global/datatypes/common/ver1.0" xmlns:dt-acct="shb/global/datatypes/accounts/ver1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/datatypes/accounts/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/global/datatypes/common/ver1.0" />
      <xs:complexType name="BankAcctIdType">
        <xs:sequence>
          <xs:element name="AcctId" type="xs:string" />
          <xs:element minOccurs="0" name="AcctType" type="xs:string" />
          <xs:element minOccurs="0" name="AcctCur" type="xs:string" />
          <xs:element minOccurs="0" name="AcctSts" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DepositAcctRecType">
        <xs:sequence>
          <xs:element name="FinSts" type="xs:string" />
          <xs:element name="AcctSts" type="xs:string" />
          <xs:element name="BranchInfo" type="dt-common:BankInfoType" />
          <xs:element name="CurBal" type="xs:string" />
          <xs:element name="AvaiBal" type="xs:string" />
          <xs:element name="Rate" type="xs:string" />
          <xs:element name="IsCoHolder" type="xs:boolean" />
          <xs:element name="ProdInfo" type="dt-common:ProdInfoType" />
          <xs:element minOccurs="0" name="CcyCd" type="xs:string" />
          <xs:element minOccurs="0" name="CurMatAmt" type="xs:string" />
          <xs:element minOccurs="0" name="DepositNo" type="xs:string" />
          <xs:element minOccurs="0" name="IntAmt" type="xs:string" />
          <xs:element minOccurs="0" name="Tenure" type="xs:string" />
          <xs:element minOccurs="0" name="UnitTenure" type="xs:string" />
          <xs:element minOccurs="0" name="ValDt" type="xs:string" />
          <xs:element minOccurs="0" name="MatDt" type="xs:string" />
          <xs:element minOccurs="0" name="AutoRenNo" type="xs:string" />
          <xs:element minOccurs="0" name="Instruction" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoanAcctRecType">
        <xs:sequence>
          <xs:element name="OrgBal" type="xs:string" />
          <xs:element name="OpenDt" type="xs:string" />
          <xs:element name="ExpDt" type="xs:string" />
          <xs:element name="OutStanding" type="xs:string" />
          <xs:element name="NextIntDue" type="xs:string" />
          <xs:element name="NextIntDueAmt" type="xs:string" />
          <xs:element name="NextPrinDue" type="xs:string" />
          <xs:element name="NextPrinDueAmt" type="xs:string" />
          <xs:element name="NextOtherDueAmt" type="xs:string" />
          <xs:element name="Sint" type="xs:string" />
          <xs:element minOccurs="0" name="Rate" type="xs:string" />
          <xs:element name="ProdInfo" type="dt-common:ProdInfoType" />
          <xs:element minOccurs="0" name="CcyCd" type="xs:string" />
          <xs:element minOccurs="0" name="Ccy" type="xs:string" />
          <xs:element minOccurs="0" name="MpiLegacyId" type="xs:string" />
          <xs:element minOccurs="0" name="MpiProdCd" type="xs:string" />
          <xs:element minOccurs="0" name="MpiTxnPosCd" type="xs:string" />
          <xs:element minOccurs="0" name="MpiOrgPosCd" type="xs:string" />
          <xs:element minOccurs="0" name="MpfNextDueCreDt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SavingAcctRecType">
        <xs:sequence>
          <xs:element name="SavingNo" type="xs:string" />
          <xs:element name="BranchInfo" type="dt-common:BankInfoType" />
          <xs:element minOccurs="0" name="CcyCd" type="xs:string" />
          <xs:element name="ProdInfo" type="dt-common:ProdInfoType" />
          <xs:element name="PrinAmt" type="xs:string" />
          <xs:element name="MatAmt" type="xs:string" />
          <xs:element name="IntAmt" type="xs:string" />
          <xs:element name="Tenure" type="xs:string" />
          <xs:element name="UnitTenureEn" type="xs:string" />
          <xs:element name="UnitTenureVn" type="xs:string" />
          <xs:element name="IntRate" type="xs:string" />
          <xs:element name="ValDd" type="xs:string" />
          <xs:element name="MatDt" type="xs:string" />
          <xs:element name="AutoRenNo" type="xs:string" />
          <xs:element name="Instruction" type="xs:string" />
          <xs:element minOccurs="0" name="PosCd" type="xs:string" />
          <xs:element minOccurs="0" name="PosDes" type="xs:string" />
          <xs:element minOccurs="0" name="UnitTenure" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:dt-common="shb/global/datatypes/common/ver1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/datatypes/common/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="BankInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankId" type="xs:string" />
          <xs:element minOccurs="0" name="BankType" type="xs:string" />
          <xs:element minOccurs="0" name="BankName" type="xs:string" />
          <xs:element name="BranchId" type="xs:string" />
          <xs:element minOccurs="0" name="BranchName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FreqInfoType">
        <xs:sequence>
          <xs:element name="FreqNo" type="xs:string" />
          <xs:element name="FreqType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProdInfoType">
        <xs:sequence>
          <xs:element name="ProdCd" type="xs:string" />
          <xs:element name="ProdDesc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TideRateType">
        <xs:sequence>
          <xs:element name="Tenure" type="xs:string" />
          <xs:element name="TunureUnit" type="xs:string" />
          <xs:element name="Rate" type="xs:string" />
          <xs:element name="EffDt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:dt-common="shb/global/datatypes/common/ver1.0" xmlns="shb/global/accounts/flextide/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:dt-acct="shb/global/datatypes/accounts/ver1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/accounts/flextide/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:import namespace="shb/global/datatypes/accounts/ver1.0" />
      <xs:import namespace="shb/global/datatypes/common/ver1.0" />
      <xs:complexType name="AcctListInqReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:CustId" />
              <xs:element ref="ns0:CustType" />
              <xs:element ref="ns0:AcctType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AcctListInqResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AcctRec" type="ns0:AcctRecType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AcctRecType">
        <xs:sequence>
          <xs:element name="CustId" type="xs:string" />
          <xs:element minOccurs="0" name="CustName" type="xs:string" />
          <xs:element name="BankAcctId" type="dt-acct:BankAcctIdType" />
          <xs:element minOccurs="0" name="BankInfo" type="dt-common:BankInfoType" />
          <xs:element minOccurs="0" name="ProdCD" type="xs:string" />
          <xs:element minOccurs="0" name="ProdDesc" type="xs:string" />
          <xs:element minOccurs="0" name="CurBal" type="xs:string" />
          <xs:element minOccurs="0" name="AvailBal" type="xs:string" />
          <xs:element minOccurs="0" name="AcctFinSts" type="xs:string" />
          <xs:element minOccurs="0" name="InactSt" type="xs:string" />
          <xs:element minOccurs="0" name="MatAmt" type="xs:string" />
          <xs:element minOccurs="0" name="DepositNo" type="xs:string" />
          <xs:element minOccurs="0" name="IntAmt" type="xs:string" />
          <xs:element minOccurs="0" name="Tenure" type="xs:string" />
          <xs:element minOccurs="0" name="UnitTenure" type="xs:string" />
          <xs:element minOccurs="0" name="IntRate" type="xs:string" />
          <xs:element minOccurs="0" name="ValDt" type="xs:string" />
          <xs:element minOccurs="0" name="MatDt" type="xs:string" />
          <xs:element minOccurs="0" name="AutoRenNo" type="xs:string" />
          <xs:element minOccurs="0" name="Instruction" type="xs:string" />
          <xs:element minOccurs="0" name="IsCoholder" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BookingTideReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="requestId" type="xs:string" />
              <xs:element name="requestDate" type="xs:string" />
              <xs:element name="channelId" type="xs:string" />
              <xs:element name="custId" type="xs:string" />
              <xs:element name="prodCd" type="xs:string" />
              <xs:element name="amount" type="xs:string" />
              <xs:element name="numOfChild" type="xs:string" />
              <xs:element name="terune" type="xs:string" />
              <xs:element name="unitTerune" type="xs:string" />
              <xs:element name="posCode" type="xs:string" />
              <xs:element name="depType" type="xs:string" />
              <xs:element name="printOnMat" type="xs:string" />
              <xs:element name="intOnMat" type="xs:string" />
              <xs:element name="additionalField" type="xs:string" />
              <xs:element name="ccycd" type="xs:string" />
              <xs:element name="accNo" type="xs:string" />
              <xs:element name="txnDt" type="xs:string" />
              <xs:element name="itfld" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BookingTideResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
              <xs:element minOccurs="0" name="resTransId" type="xs:string" />
              <xs:element minOccurs="0" name="depositNoParentTide" type="xs:string" />
              <xs:element minOccurs="0" name="acccountNoParentTide" type="xs:string" />
              <xs:element minOccurs="0" name="numOfParentTide" type="xs:string" />
              <xs:element minOccurs="0" name="numOfChildTideSuccess" type="xs:string" />
              <xs:element minOccurs="0" name="valDate" type="xs:string" />
              <xs:element minOccurs="0" name="matDate" type="xs:string" />
              <xs:element minOccurs="0" name="tenure" type="xs:string" />
              <xs:element minOccurs="0" name="tenureUnit" type="xs:string" />
              <xs:element minOccurs="0" name="orgAmountChild" type="xs:string" />
              <xs:element minOccurs="0" name="interestAmountChild" type="xs:string" />
              <xs:element minOccurs="0" name="interestAmountParent" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:listTide" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetFlexTideDetailReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="custId" type="xs:string" />
              <xs:element name="acctNo" type="xs:string" />
              <xs:element name="ccycd" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetFlexTideDetailResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="SavingNo" type="xs:string" />
              <xs:element minOccurs="0" name="BranchInfo" type="dt-common:BankInfoType" />
              <xs:element minOccurs="0" name="CcyCd" type="xs:string" />
              <xs:element minOccurs="0" name="ProdInfo" type="dt-common:ProdInfoType" />
              <xs:element minOccurs="0" name="PrinAmt" type="xs:string" />
              <xs:element minOccurs="0" name="MatAmt" type="xs:string" />
              <xs:element minOccurs="0" name="IntAmt" type="xs:string" />
              <xs:element minOccurs="0" name="Tenure" type="xs:string" />
              <xs:element minOccurs="0" name="UnitTenureEn" type="xs:string" />
              <xs:element minOccurs="0" name="UnitTenureVn" type="xs:string" />
              <xs:element minOccurs="0" name="IntRate" type="xs:string" />
              <xs:element minOccurs="0" name="ValDt" type="xs:string" />
              <xs:element minOccurs="0" name="MatDt" type="xs:string" />
              <xs:element minOccurs="0" name="AutoRenNo" type="xs:string" />
              <xs:element minOccurs="0" name="Instruction" type="xs:string" />
              <xs:element minOccurs="0" name="PosCd" type="xs:string" />
              <xs:element minOccurs="0" name="PosDes" type="xs:string" />
              <xs:element minOccurs="0" name="UnitTenure" type="xs:string" />
              <xs:element minOccurs="0" name="isParent" type="xs:string" />
              <xs:element minOccurs="0" name="parentDepositNo" type="xs:string" />
              <xs:element minOccurs="0" name="parentAccountNo" type="xs:string" />
              <xs:element minOccurs="0" name="totalPrincipleAmountOrg" type="xs:string" />
              <xs:element minOccurs="0" name="totalMatAmountOrg" type="xs:string" />
              <xs:element minOccurs="0" name="totalInterestAmountOrg" type="xs:string" />
              <xs:element minOccurs="0" name="totalPrincipleAmountRemain" type="xs:string" />
              <xs:element minOccurs="0" name="totalInterestAmountRemain" type="xs:string" />
              <xs:element minOccurs="0" name="totalMatAmountRemain" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ListChildDeposits" type="ns0:ListChildDepositsType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ListChildDepositsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="acctNo" type="xs:string" />
          <xs:element minOccurs="0" name="depositNo" type="xs:string" />
          <xs:element minOccurs="0" name="ccycd" type="xs:string" />
          <xs:element minOccurs="0" name="posCd" type="xs:string" />
          <xs:element minOccurs="0" name="posDesc" type="xs:string" />
          <xs:element minOccurs="0" name="prodCd" type="xs:string" />
          <xs:element minOccurs="0" name="currPrinAmt" type="xs:string" />
          <xs:element minOccurs="0" name="currMatAmt" type="xs:string" />
          <xs:element minOccurs="0" name="intAmt" type="xs:string" />
          <xs:element minOccurs="0" name="tenure" type="xs:string" />
          <xs:element minOccurs="0" name="unitTenure" type="xs:string" />
          <xs:element minOccurs="0" name="unitTenureVn" type="xs:string" />
          <xs:element minOccurs="0" name="unitTenureEn" type="xs:string" />
          <xs:element minOccurs="0" name="intRate" type="xs:string" />
          <xs:element minOccurs="0" name="valDt" type="xs:string" />
          <xs:element minOccurs="0" name="matDt" type="xs:string" />
          <xs:element minOccurs="0" name="autoRenNo" type="xs:string" />
          <xs:element minOccurs="0" name="prodDesc" type="xs:string" />
          <xs:element minOccurs="0" name="instruction" type="xs:string" />
          <xs:element minOccurs="0" name="custName" type="xs:string" />
          <xs:element minOccurs="0" name="parentDepositNo" type="xs:string" />
          <xs:element minOccurs="0" name="numOfTideOrg" type="xs:string" />
          <xs:element minOccurs="0" name="amountOfTideOrg" type="xs:string" />
          <xs:element minOccurs="0" name="numOfTideRemain" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProdInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProdCd" type="xs:string" />
          <xs:element minOccurs="0" name="ProdDesc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WithdrawalTideReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="ChnlId" type="xs:string" />
              <xs:element name="TxnDt" type="xs:string" />
              <xs:element name="ItfId" type="xs:string" />
              <xs:element name="AccNo" type="xs:string" />
              <xs:element name="WdlType" type="xs:string" />
              <xs:element name="Amount" type="xs:string" />
              <xs:element ref="ns0:CustId" />
              <xs:element minOccurs="0" name="PrintOnMat" type="xs:string" />
              <xs:element minOccurs="0" name="IntOnMat" type="xs:string" />
              <xs:element name="DepositNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WithdrawalTideResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element name="errCode" type="xs:string" />
              <xs:element name="errDesc" type="xs:string" />
              <xs:element minOccurs="0" name="parentAcctNo" type="xs:string" />
              <xs:element minOccurs="0" name="currPrinAmt" type="xs:string" />
              <xs:element minOccurs="0" name="currMatAmt" type="xs:string" />
              <xs:element minOccurs="0" name="intAmount" type="xs:string" />
              <xs:element minOccurs="0" name="tenure" type="xs:string" />
              <xs:element minOccurs="0" name="unitTenure" type="xs:string" />
              <xs:element minOccurs="0" name="unitTenureEn" type="xs:string" />
              <xs:element minOccurs="0" name="unitTenureVn" type="xs:string" />
              <xs:element minOccurs="0" name="numOfChildTideSuccess" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="listTideType">
        <xs:sequence>
          <xs:element name="legacyAc" type="xs:string" />
          <xs:element name="depositNo" type="xs:string" />
          <xs:element name="valDate" type="xs:string" />
          <xs:element name="matDate" type="xs:string" />
          <xs:element name="orgAmountChild" type="xs:string" />
          <xs:element name="tenure" type="xs:string" />
          <xs:element name="interestRateReal" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AcctListInqReq" type="ns0:AcctListInqReqType" />
      <xs:element name="AcctListInqRes" type="ns0:AcctListInqResType" />
      <xs:element name="AcctType" type="xs:string" />
      <xs:element name="BookingTideReq" type="ns0:BookingTideReqType" />
      <xs:element name="BookingTideRes" type="ns0:BookingTideResType" />
      <xs:element name="CustId" type="xs:string" />
      <xs:element name="CustType" type="xs:string" />
      <xs:element name="GetFlexTideDetailReq" type="ns0:GetFlexTideDetailReqType" />
      <xs:element name="GetFlexTideDetailRes" type="ns0:GetFlexTideDetailResType" />
      <xs:element name="WithdrawalTideReq" type="ns0:WithdrawalTideReqType" />
      <xs:element name="WithdrawalTideRes" type="ns0:WithdrawalTideResType" />
      <xs:element name="listTide" type="ns0:listTideType" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="BookingTideReq">
    <wsdl:part name="request" element="ns0:BookingTideReq" />
  </wsdl:message>
  <wsdl:message name="BookingTideRes">
    <wsdl:part name="response" element="ns0:BookingTideRes" />
  </wsdl:message>
  <wsdl:message name="GetFlexTideDetailReq">
    <wsdl:part name="request" element="ns0:GetFlexTideDetailReq" />
  </wsdl:message>
  <wsdl:message name="GetFlexTideDetailRes">
    <wsdl:part name="response" element="ns0:GetFlexTideDetailRes" />
  </wsdl:message>
  <wsdl:message name="InquiryReq">
    <wsdl:part name="request" element="ns0:AcctListInqReq" />
  </wsdl:message>
  <wsdl:message name="InquiryRes">
    <wsdl:part name="response" element="ns0:AcctListInqRes" />
  </wsdl:message>
  <wsdl:message name="WithdrawalTideReq">
    <wsdl:part name="request" element="ns0:WithdrawalTideReq" />
  </wsdl:message>
  <wsdl:message name="WithdrawalTideRes">
    <wsdl:part name="response" element="ns0:WithdrawalTideRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="BookingTide">
      <wsdl:input message="tns:BookingTideReq" />
      <wsdl:output message="tns:BookingTideRes" />
    </wsdl:operation>
    <wsdl:operation name="GetLexTideDetail">
      <wsdl:input message="tns:GetFlexTideDetailReq" />
      <wsdl:output message="tns:GetFlexTideDetailRes" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <wsdl:input message="tns:InquiryReq" />
      <wsdl:output message="tns:InquiryRes" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawalTide">
      <wsdl:input message="tns:WithdrawalTideReq" />
      <wsdl:output message="tns:WithdrawalTideRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="BookingTide">
      <soap:operation soapAction="/Services/Global/Accounts/FlexTide/OperationImpl/FlexTide-service1.serviceagent/PortTypeEndpoint1/BookingTide" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLexTideDetail">
      <soap:operation soapAction="/Services/Global/Accounts/FlexTide/OperationImpl/FlexTide-service1.serviceagent/PortTypeEndpoint1/GetLexTideDetail" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <soap:operation soapAction="/Services/Global/Accounts/FlexTide/OperationImpl/FlexTide-service1.serviceagent/PortTypeEndpoint1/Inquiry" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawalTide">
      <soap:operation soapAction="/Services/Global/Accounts/FlexTide/OperationImpl/FlexTide-service1.serviceagent/PortTypeEndpoint1/WithdrawalTide" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlexTide">
    <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">account.flextide.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>