App_WebReferences/DomXfer/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns2="shb/common/envelope/serviceenvelope/1.0" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:tns="http://xmlns.example.com/1486542300203" xmlns:ns0="shb/global/fundtransfer/domxfer/ver1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns3="shb/global/datatypes/common/ver1.0" xmlns:ns1="shb/common/envelope/commonheader/1.0" name="Untitled" targetNamespace="http://xmlns.example.com/1486542300203" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/common/envelope/commonheader/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Unique Application Identification to identify Traget application or system within an organization, e.g "SmartLender", "Murex, "Ipay"</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="AppHdrType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="cmd-header:CharSet">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:SvcVer">
            <xsd:annotation>
              <xsd:documentation>Version of the service to invoke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="From" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application send the message to the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="To" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>The Name and ID of the application receive the message from the ESB</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:MsgId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:MsgPreId">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BizSvc" type="cmd-header:PairsType">
            <xsd:annotation>
              <xsd:documentation>Business Domain</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="cmd-header:TransDt">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="cmd-header:Signature">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Error code returned by "SourceAppID" System.  This Error Code is unique to each System.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PairsType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespStsType">
        <xsd:sequence>
          <xsd:element name="Sts" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>ESB Service's processing status</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ErrCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrInfo" type="cmd-header:ErrInfoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AppHdr" type="cmd-header:AppHdrType" />
      <xsd:element name="CharSet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Character encoding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This ID can be used by Service Client to correlate respond message.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgPreId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the previous application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MsgSrcId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">ID of the initiate application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameValuePairs" type="cmd-header:PairsType" />
      <xsd:element name="RespSts" type="cmd-header:RespStsType" />
      <xsd:element name="Signature" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Digital Signature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvcVer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Version of the service to invoke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Test" type="xsd:string" />
      <xsd:element name="TransDt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Date of created message</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" xmlns:cmd-header="shb/common/envelope/commonheader/1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="shb/common/envelope/serviceenvelope/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/commonheader/1.0" />
      <xs:complexType name="BaseServiceEnvelopeRequestType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseServiceEnvelopeResponseType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element ref="cmd-header:RespSts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceBodyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ServiceEnverlopType">
        <xs:sequence>
          <xs:element ref="cmd-header:AppHdr" />
          <xs:element minOccurs="0" ref="cmd-header:RespSts" />
          <xs:element name="ServiceBody" type="cmd-envelope:ServiceBodyType" />
          <xs:element minOccurs="0" name="Other" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="lax" />
      </xs:complexType>
      <xs:element name="BaseServiceEnvelopeRequest" type="cmd-envelope:BaseServiceEnvelopeRequestType" />
      <xs:element name="BaseServiceEnvelopeResponse" type="cmd-envelope:BaseServiceEnvelopeResponseType" />
      <xs:element name="ServiceEnverlop" type="cmd-envelope:ServiceEnverlopType" />
      <xs:attribute name="actor" type="xs:anyURI" />
      <xs:attribute name="mustUnderstand">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="0|1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:schema>
    <xs:schema xmlns:dt-common="shb/global/datatypes/common/ver1.0" xmlns="shb/global/fundtransfer/domxfer/ver1.0" xmlns:cmd-envelope="shb/common/envelope/serviceenvelope/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/fundtransfer/domxfer/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="shb/common/envelope/serviceenvelope/1.0" />
      <xs:import namespace="shb/global/datatypes/common/ver1.0" />
      <xs:complexType name="DomXferAddReqType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeRequestType">
            <xs:sequence>
              <xs:element name="ChnlId" type="xs:string" />
              <xs:element name="BrCd" type="xs:string" />
              <xs:element name="ItfId" type="xs:string" />
              <xs:element name="RefNo" type="xs:string" />
              <xs:element name="DbAcct" type="xs:string" />
              <xs:element name="CrAcct" type="xs:string" />
              <xs:element name="TxAmt" type="xs:decimal" />
              <xs:element name="TxCur" type="xs:string" />
              <xs:element name="TxDt" type="xs:string" />
              <xs:element name="ValDt" type="xs:string" />
              <xs:element name="WIB" type="xs:string" />
              <xs:element name="BenName" type="xs:string" />
              <xs:element name="BenAddr1" type="xs:string" />
              <xs:element minOccurs="0" name="BenAdd2" type="xs:string" />
              <xs:element name="BenCity" type="xs:string" />
              <xs:element minOccurs="0" name="IdType" type="xs:string" />
              <xs:element minOccurs="0" name="IdNo" type="xs:string" />
              <xs:element minOccurs="0" name="IdIssuePlace" type="xs:string" />
              <xs:element minOccurs="0" name="IdExpDt" type="xs:string" />
              <xs:element name="CustRmk" type="xs:string" />
              <xs:element minOccurs="0" name="IntRmk" type="xs:string" />
              <xs:element minOccurs="0" name="BnkDesc" type="xs:string" />
              <xs:element minOccurs="0" name="BrDesc" type="xs:string" />
              <xs:element minOccurs="0" name="CtyDesc" type="xs:string" />
              <xs:element minOccurs="0" name="CtyCd" type="xs:string" />
              <xs:element name="BnkCode" type="xs:decimal" />
              <xs:element minOccurs="0" name="BrCode" type="xs:string" />
              <xs:element minOccurs="0" name="DealType" type="xs:string" />
              <xs:element name="ChrgType" type="xs:string" />
              <xs:element minOccurs="0" name="ConvRt" type="xs:string" />
              <xs:element minOccurs="0" name="EchoField" type="xs:string" />
              <xs:element minOccurs="0" name="Mode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DomXferAddResType">
        <xs:complexContent mixed="false">
          <xs:extension base="cmd-envelope:BaseServiceEnvelopeResponseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="ChnlId" type="xs:string" />
              <xs:element minOccurs="0" name="RefNo" type="xs:string" />
              <xs:element minOccurs="0" name="AvailBal" type="xs:string" />
              <xs:element minOccurs="0" name="CurrBal" type="xs:string" />
              <xs:element minOccurs="0" name="CurCd" type="xs:string" />
              <xs:element minOccurs="0" name="LcyAmt" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DomXferAddReq" type="ns0:DomXferAddReqType" />
      <xs:element name="DomXferAddRes" type="ns0:DomXferAddResType" />
    </xs:schema>
    <xs:schema xmlns:dt-common="shb/global/datatypes/common/ver1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="shb/global/datatypes/common/ver1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="BankInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankId" type="xs:string" />
          <xs:element minOccurs="0" name="BankType" type="xs:string" />
          <xs:element minOccurs="0" name="BankName" type="xs:string" />
          <xs:element name="BranchId" type="xs:string" />
          <xs:element minOccurs="0" name="BranchName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FreqInfoType">
        <xs:sequence>
          <xs:element name="FreqNo" type="xs:string" />
          <xs:element name="FreqType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProdInfoType">
        <xs:sequence>
          <xs:element name="ProdCd" type="xs:string" />
          <xs:element name="ProdDesc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TideRateType">
        <xs:sequence>
          <xs:element name="Tenure" type="xs:string" />
          <xs:element name="TunureUnit" type="xs:string" />
          <xs:element name="Rate" type="xs:string" />
          <xs:element name="EffDt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateReq">
    <wsdl:part name="request" element="ns0:DomXferAddReq" />
  </wsdl:message>
  <wsdl:message name="CreateRes">
    <wsdl:part name="response" element="ns0:DomXferAddRes" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateReq" />
      <wsdl:output message="tns:CreateRes" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
    <soap:binding transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" />
    <jms:binding messageFormat="bytes" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="/Services/Global/FundTransfers/DomXfer/OperationImpl/DomXfer-service0.serviceagent/PortTypeEndpoint0/Create" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DomXfer">
    <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
      <soap:address location="" />
      <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
      <jms:targetAddress destination="queue">fundtransfers.domxfer.v10</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>